body{
    background-image: url('img/wallpaper.jpg');
    padding:0;
    margin:0;
    text-align:center;
    overflow:scroll;
    color:#fff;
    font-family:'Droid Arabic Kufi', serif; 
}

label,
input,
select,
option,
textarea{
    background:rgb(56,59,59);
    
}
.header{
    height:100px;
}
.header,
.alertms,
.formhead,
.tabs,
textarea
{
    width:100%;
}
.logtab,
.tabs,
.log,
.reg,
.mes,
.inf,
.content{
    background:#292E2E;
}
.buttonsub,
.tabs{
    background:#D4995B;
}
.inf span,
.alertms{
    color:#D4995B;
}
.tabs{
    height:60px;
    overflow:hidden;
}
.tabs div{
    width:100px;
    height:60px;
    cursor:pointer;
    font:20px/60px arial;
}
.log,
.reg,
.mes,
.inf,
.content{
    
    max-width:400px;
    min-height:200px;
    box-sizing:border-box;
}
.content,
.formhead,
form,
.alertms,
.about1,
.about2,
.map{
    margin:auto;
}
.reg,
.mes,
.inf{
    display:none;
}
#check,
.log span,
.tabs div,
.icons,
.forgot a{
    float:right;
}
.content{
    opacity: 90%;
    padding-bottom:30px;
}
    .content:hover{
        opacity: 95%;    
}
.buttonsub,
.content{
    -webkit-box-shadow:0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow:0px 2px 5px 0px rgba(0,0,0,0.1);
}
label,
.content,
.buttonsub,
textarea,
select,
option{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    overflow:hidden;
}
form,
.formhead,
.about1,
.about2{
    max-width:280px;
}
.formhead{
    height:45px;
    text-align:right;
    line-height:66px;
    font-size:14px;   
}
label,
.buttonsub{
    width:100%;
    display:block;
}
/* The container */
.container {
    display: block;
    position: relative;
    
    cursor: pointer;
    font-size: 20px;
    opacity: 75%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0%;
    cursor: pointer;

  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top:12px;
    left:8px ;
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: black;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  select,
  option{
    height:40px;
    width:100%;
    border:none;
    outline:none;
    color:#A3A9A9;
    box-sizing:border-box;
    font:12px 'Droid Arabic Kufi', serif; 
    padding-right:11px;
    direction:rtl;
  }
  input
{
    float:left;
    width:100%;
    border:none;
    outline:none;
    color:#A3A9A9;
    box-sizing:border-box;
    font:12px 'Droid Arabic Kufi', serif; 
    padding-right:11px;
    direction:rtl;
}
.icons{
    width:40px;
    color:#A3A9A9;
    line-height:40px;
}
.icons,
input,
label,
.buttonsub{
    height:40px;
}
.alertms{
    height:30px;
    text-align:right;
    font:11px/30px 'Droid Arabic Kufi', serif;
}
.buttonsub{
    border:none;
    outline:none;
    color:#fff;
    cursor:pointer;
    font:bold 13px 'Droid Arabic Kufi', serif;
}
textarea{
    height:130px;
    padding:10px;
    box-sizing:border-box;
    border:none;
    outline:none;
    color:#A3A9A9;
    direction:rtl;
}
#check{
    width:14px;
    margin-top:20px;
    background:none;
}
.rem{
    font-size:13px;
    margin-top:26px;
}
.forgot{
    float:left;
}
.forgot a{
    color:#fff;
    line-height:74px;
    font-size:12px;
    text-decoration:none;
}
.forgot a:hover{
    color:#ccc;
}
.about1,
.about2{
    height:30px;
    text-align:right;
}
.about2{
    font-size:12px;
}
.inf span{
    margin-left:10px;
}
::-webkit-input-placeholder{
    font:12px/13px 'Droid Arabic Kufi', serif;
}
::-moz-placeholder{
    font:12px/13px 'Droid Arabic Kufi', serif;
}
:-ms-input-placeholder{
    font:12px/13px 'Droid Arabic Kufi', serif;
}
@media screen and (max-width: 500px){
.log,
.reg,
.mes,
.inf,
.content{
    max-width:250px;
}
body{
    
    padding-left:10px;
    padding-right:10px;
}
.tabs div{
    width:62.5px;
}
form,
.formhead,
.about1,
.about2{
    max-width:220px;
}
input
{
    width:70%;
}
}
.forgpass{
    color: #D4995B;
    text-decoration: none;
}
.forgpass:hover{
    color: #fff;
    text-decoration: none;
}

/*     ***Footer setting***       */
.footer{
    bottom:0;
    text-align: center;
    width: 100%;
    background-color:#1B1B1B;
}
.footer p{
    color: white;
    margin-top:10px;
}
